@page "/citydata"

@using CsvHelper
@using CsvHelper.Configuration
@using CsvHelper.Configuration.Attributes
@using System.Globalization

<h3>City Data</h3>

<ul>
    @foreach (var city in cities)
    {
        <li>@city.CityName, @city.CountryCode</li>
    }
</ul>

@code {
    public IEnumerable<CityData> cities = new List<CityData>();

    // public IWebHostEnvironment WebHostEnvironment { get; }

    // private string filePath
    // {
    //     get { return Path.Combine(WebHostEnvironment.WebRootPath, "cities_list.csv"); }
    // }

    [Name("name")]
    public string CityName { get; set; }

    [Name("country")]
    public string CountryCode { get; set; }

    // public CityData(IWebHostEnvironment webHostEnvironment)
    // {
    //     WebHostEnvironment = webHostEnvironment;
    // }

    protected override async Task OnInitializedAsync()
    {
        var path = Path.Combine(AppDomain.CurrentDomain.BaseDirectory, "cities_list.csv");

        if (!File.Exists(path)) { throw new FileNotFoundException("City list not found.");}
        else { Console.WriteLine("City list found."); }
        using (var reader = new StreamReader(path))
        using (var csv = new CsvReader(reader, true))
        {
            cities = csv.GetRecords<CityData>().ToList();
        }

        // cities.Add(new CityData { CityName = "Paris", CountryCode = "FR" });
    }
}